<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aanmelden</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">

</head>
<body class="background">


     <div class="login"><div class="logo"></div><br><br>
      <form method="post" >
        <p><input type="text" name="Email"  placeholder="E-mail"></p>
        <p><input type="password" name="Wachtwoord"  placeholder="Wachtwoord"></p>
        <button>Aanmelden</button>
      </form>

</div>
</body>
</html>


