{% extends "base.html" %}
{% block title %}
    Aquariums
{% endblock %}
{% block Aquarium %}
    class="current"
{% endblock %}
{% block body %}
<div class="content3" >
<br><h3>Aquarium</h3><br>
Selecteer een bestaand aquarium<br><br>
<select name="aquariums">
    <option value="Tropical">Tropical</option>
</select><br><br>
<form>
<p class="submit"><input type="submit" name="Selecteer" value="Selecteer"></p>
</form>
    <div class="AquariumOpties">
<div class="AquariumToevoegen">
    Voeg een aquarium toe<br><br>
 <form method="post" action="index.html">
        <p><input type="text" name="ToevoegenAquarium" value="" placeholder="Naam"></p>
{#       <p><input type="text" name="ip" value="" placeholder="Ip-adres"></p>#}
        <p class="submit"><input type="submit" name="VoegToe" value="Voeg Toe"></p>
 </form><br></div>
    <div class="AquariumVerwijderen">
    Verwijder een aquarium<br><br>
        <select name="aquariums">
            <option value="Tropical">Tropical</option>
        </select><br><br>
        <form>
        <p class="submit"><input type="submit" name="Verwijder" value="Verwijder"></p>
        </form>
</div>
</div>
</div>
{% endblock %}
