{% extends "base.html" %}
{% block title %}
    Instellingen
{% endblock %}
{% block Instellingen %}
    class="current"
{% endblock %}
{% block body %}

<div class="container">
	<div class="Gebruiker"><br>
	<h3>Geef Rechten</h3><br><br>
        <form method="post">
            <input type="text" name="toevoegen" placeholder="e-mail gebruiker"><br><br>
            <button class="btn knop1 circular">Geef rechten</button>
        </form><br>
(De gebruiker moet het aquarium al hebben toegevoegd om de rechten te veranderen)
	</div>
</div>
{% endblock %}