{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block Home %}
    class="current"
{% endblock %}
{% block body %}
{#Pas de banner aan maak hem minder hoog en meer groen langs de zijkanten van dde banner.#}
        <img src="/static/images/banner.png" id="banner"/>


	<div class="container">
		<div class="block1"><br><h2>Temperatuur</h2><br>

			<img src="/static/images/temprature.png" height="180" width="150"/><br><br>

			20°C<br><br>

		</div>
    	<div class="block2"><br><h2>Verlichting</h2><br>

			<img src="/static/images/lamp.png" height="200" width="200"/><br><br>
            <div class="aanpassen">
			<div class="kleurKeuze">
				<h3>Kleur</h3><br>
				<div class="kleur"></div>
			</div>
			<div class="verlichting">
                    <h3>toestand</h3><br>
					AAN<br>
					<a href="#fakeLink" class="btn orange">On/off</a>
			</div>
			<br><br></div>
		</div>
    	<div class="block3">
        <h3>Filter</h3><br><br>

            <img src="/static/images/bubbles.png" height="436" width="600"/><br><br>
                 toestand<br><br>
                AAN<br><br>
                <a href="#fakeLink" class="btn orange">On/off</a>
	    </div>
		</div>

{% endblock %}