{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block Verlichting %}
    class="current"
{% endblock %}
{% block body %}
<div class="Schakelaar"><br>
	<h3>Verlichting</h3><br><br>


		 toestand<br><br>
		{% if stand==[(1,)] %}
            AAN
        {% elif stand==[(0,)] %}
            UIT
        {% endif %}
    <form method="post">
        {% if stand==[(1,)] %}
        <br><button name="2" value="0" class="btn knop1 circular">On/Off</button>
        {% elif stand==[(0,)] %}
        <br><button name="2" value="1" class="btn knop1 circular">On/Off</button>
        {% endif %}
    </form>
</div>
{% endblock %}