{% extends "base.html" %}
{% block title %}
    Temperatuur
{% endblock %}
{% block Temperatuur %}
    class="current"
{% endblock %}
{% block body %}
<div class="container">
<div class="Verwarming"><br>
    <h3>Verwarming</h3><br><br>
    Huidige temperatuur: 20°C<br><br><br>
    <div class="VerwarmingStatus">
        <div class="fotoTemp"><br>
            <img src="img/temprature.png" height="256" width="256"/>
        </div>
        <div class="infoTemp"><br>
            Status verwarming<br><br>
            AAN<br><br>
        </div>
    </div>

</div>
	<div class="TempAanpassen"><br>
	<h3>Temperatuur aanpassen</h3><br><br>(
     Gewenste temperatuur: 23°C<br><br><br>
    <div class="VerwarmingStatus">
        <div class="fotoTemp"><br>
            <img src="/static/images/temprature.png" height="256" width="256"/>
        </div>
        <div class="infoTemp"><br>
            <form>
            <input type="text" name="temperatuur"><br><br>
            AAN<br><br>
            </form>
        </div>
	</div>
</div>
</div>
{% endblock %}