<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verlichting</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>

		<a href="index.html" id="logo"></a>

		<nav>


			<ul>

				<li><a href="index.html" >Home</a></li>
				<li><a href="Vissen.html">Vissen</a></li>
				<li><a href="Verlichting.html" class="current">Verlichting</a></li>
                <li><a href="Temperatuur.html">Temperatuur</a></li>
				<li><a href="Filter.html">Filter</a></li>
                <li><a href="Aquariums.html">Aquarium</a> </li>


			</ul>

		</nav>

	</header>
<div class="container">
<div class="colorpicker"><br>
	<h3>Kleur</h3><br><br>
	Selecteer een kleur: <br>
	<select >
	  <option value="1" data-color="#1ABC9C">TURQUOISE</option>
	  <option value="2" data-color="#16A085" selected="selected">GREEN SEA</option>
	  <option value="3" data-color="#2ECC71">EMERALD</option>
	</select><br><br>
	Huidig kleur:<br><br>
	<div class="color"></div>
</div>
	<div class="Schakelaar"><br>
	<h3>Verlichting</h3><br><br>
		<img src="img/lamp.png" height="200" width="200"/><br><br>
		 toestand<br><br>
		AAN<br><br>
		<a href="#fakeLink" class="btn orange">On/off</a>
	</div>
</div>
<footer class="footer-distributed">



			<div class="footer-left">

				<p class="footer-links">
					<a href="#">Home</a>
					<a href="#">Vissen</a>
					<a href="#">Verlichting</a>
					<a href="#">Temperatuur</a>
					<a href="#">Filter</a>
				</p>

				<p>Perrine De Brabant &copy; 2017<br> Wij zijn niet verantwoordelijk voor gebeurlijke ongevallen of incidenten.</p>
			</div>

	</footer>
</body>
</html>