{% extends "base.html" %}
{% block title %}
    Verlichting
{% endblock %}
{% block Verlichting %}
    class="current"
{% endblock %}
{% block body %}

<div class="container">
<div class="colorpicker"><br>
	<h3>Kleur</h3><br><br>
	Selecteer een kleur: <br>
	<form>
        <input type="color">
    </form>
	Huidig kleur:<br><br>
	<div class="color"></div>
</div>
	<div class="Schakelaar"><br>
	<h3>Verlichting</h3><br><br>
		<img src="/static/images/lamp.png" height="200" width="200"/><br><br>
		 toestand<br><br>
		AAN<br><br>
		<a href="#fakeLink" class="btn orange">On/off</a>
	</div>
</div>
{% endblock %}